*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
    width: 100%;
}
.background {
    background-image: url('/assets/bacground-image.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;

    height: 10vw;

    background-color: #1f2833;
    border-radius: 2vw;
    border: 0.2vw solid #C5C6C7;
}
.image {
    width: 75%;
    object-fit: cover;
}
.mini-text{
    color: white;
    font-size: 1.8vw;
    width: 100%;
    text-align: center;
}
.skill-stack{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 4vw;
}
.footer-image{
    height: 100%;
    object-fit: cover;
}
.div-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.label-hover {
    padding: 0 0.7vw;
}
.label-hover:hover {
    border-radius: 0.5vw;
    background-color: #163D3B;
    cursor: pointer;
}
.select-page {
    padding: 0 0.7vw;
    background-color: #45A29E;
    border-radius: 0.5vw;
    cursor: pointer;
    color: #1F2833;
}
a {
    text-decoration: none;
    color: #45a29e;
}
a:visited {
    color: #45a29e;
}
